.root {
    -fx-background-color: white;
}

#header.login {
    -fx-font-size: 36px;
}

Text.username.login, Text.password.login {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.login.username.field, .login.password.field {
    -fx-font-size: 16px;
    -fx-background-color: #fafafa;
    -fx-background-radius: 10px;
}

.login.username.field:hover, .login.password.field:hover {
    -fx-background-color: #f0f0f0;
}

#register.login, #forget.login {
    -fx-font-size: 15px;
    -fx-text-fill: #00A6FF;
}

#register.login:hover, #forget.login:hover {
    -fx-text-fill: #0077CC;
    -fx-cursor: hand;
}

#register.login:pressed, #forget.login:pressed {
    -fx-text-fill: #005299;
}

Button.login {
    -fx-background-color: #00A6FF;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
}

Button.login:hover {
    -fx-background-color: #0077CC;
    -fx-cursor: hand;
}

Button.login:pressed {
    -fx-background-color: #005299;
}

.login.right {
    -fx-background-color: linear-gradient(to bottom, #7F51FF, #FF7375);
}

Label.right {
    -fx-font-size: 32px;
    -fx-text-fill: white;
}