<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Load properties from external file -->
        <property name="hibernate.properties.file">config.properties</property>

        <!-- Hibernate mappings -->
        <mapping class="com.haichutieu.chatsystem.dto.Customer"/>
        <mapping class="com.haichutieu.chatsystem.dto.FriendList"/>
        <mapping class="com.haichutieu.chatsystem.dto.BlockList"/>
        <mapping class="com.haichutieu.chatsystem.dto.Conversation"/>
        <mapping class="com.haichutieu.chatsystem.dto.ConversationMember"/>
        <mapping class="com.haichutieu.chatsystem.dto.LoginTime"/>
        <mapping class="com.haichutieu.chatsystem.dto.Message"/>
        <mapping class="com.haichutieu.chatsystem.dto.SpamList"/>
        <mapping class="com.haichutieu.chatsystem.dto.MessageDisplay"/>
    </session-factory>
</hibernate-configuration>
